.nav-container {
  display: flex;
  justify-content: space-between;
  padding-left: 1vw;
  align-items: center;
  height: 50px;

  .airbnb-logo {
    width: 30px;
  }

  .nav-menu {
    color: #fff;
    font-weight: 600;
    display: flex;
    align-items: center;
    span {
      text-decoration: none;
      color: #fff;
      padding-right: 3vw;
      font-size: 14px;
      cursor: pointer;
    }
  }

  @media screen and (max-width: 420px) {
    .nav-menu {
      flex-direction: column;
      margin-top: 50px;
    }
  }
}

.toggle {
  position: relative;
  padding: 0 4px;
  display: flex;
  align-items: center;

  input[type="checkbox"].checkbox {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 38px;
    height: 18px;
    background: #555;
    border-radius: 10px;
    cursor: pointer;
    outline: none;
    background-image: url(../../assets/images/night.svg);
    background-repeat: no-repeat;
    background-size: 30%;
    background-position: 5px center;
  }

  input[type="checkbox"].checkbox:checked + label {
    left: 30px;
  }

  input[type="checkbox"].checkbox:not(:checked) {
    background-image: url(../../assets/images/sunny.svg);
    background-repeat: no-repeat;
    background-size: 30%;
    background-position: 22px center;
  }

  input[type="checkbox"].checkbox + label {
    display: inline-block;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    transition: all 0.3s ease;
    cursor: pointer;
    position: absolute;
    left: 8px;
    background-color: #fff;
  }
}
