.nav-container {
  display: flex;
  justify-content: space-between;
  padding-top: 1vw;
  padding-bottom: 1vw;
  padding-left: 1vw;
}

.airbnb-logo {
  width: 30px;
}

.nav-menu {
  color: #fff;
  display: flex;
  align-items: center;
}

.nav-menu a {
  text-decoration: none;
  color: #fff;
  padding-right: 3vw;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
}
